* {font-family: 'Raleway', sans-serif;}
* {box-sizing: border-box;}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background-color: #e0e2db;
    margin: 0;
}
.top-container {
    border: none;
    height: 150px;
    background: #686F78;
}
.top-left {
    position: absolute; 
    font-size: 26px; 
    font-weight: bold;
/* font weight is not showing */
    top: 8px; 
    left: 16px;
    color: #e0e2db;
}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.menu-items {
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu-items a {
    display: block;
    padding: 8px;
    background-color:#e0e2db;
    text-decoration: none;
    color: black;
    display: block;
    display: inline;
    float: left;
}
.menu-items a:hover {
    background-color: #9684A1;
}
.menu-items a.active {
    background-color: #8B7604;
    color: #e0e2db;
}
h1 {
    text-align: center;
}
.ge-image {
    padding-left: 80px;
    padding-right: 10px;
}
.ge-info {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    border: none;
    background: #5E5068;
    margin-right: 80px;
    color: #e0e2db;
}
h2 {
    font-size: 24px;
    color: #e0e2db;
}
.ci-image {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 80px;
}
.ci-info {
    margin-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    border: none;
    background: #1A1F23;
    margin-left: 80px;
    width: 710px;
    color: #e0e2db;
}
.reviews-image {
    padding-left: 80px;
    padding-right: 10px;
    padding-top: 10px;
}
.list-of-reviews {
    margin-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    border: none;
    background: #2C303A;
    margin-right: 80px;
    color: #e0e2db;
}
.cu-info {
    margin-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    border: none;
    background: #8B7604;
    margin-left: 80px;
    width: 710px;
    color: #e0e2db;
    margin-bottom: 10px;
}
.cu-image {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 80px;
}
#follow-us {
    margin-top: 50px;
    display: flex;
    position: absolute;
    border: none;
    width: 1440px;
    height: 400px;
    background: #33202A;
}
.follow-us-title {
    display: flex;
    position: absolute;
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding-bottom: 20px;
    padding-top: 50px;
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    color:#e0e2db;
}
.flex-container {
    display: flex;
    position: absolute;
}
.col-5 {
    display: flex ;
    position: relative;
    flex-direction: row;
    transform: translate(43%, 30%);
    margin: 1em 0 1em 1em;
}
.col-4 {
    border: solid;
    border-color: #e0e2db;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 1em 0 1em 1em;
    transform: translate(475%, 255%);
}
.social-title {
    text-align: center;
    transform: translate(0%, 75%);
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    color:#e0e2db;
}
a {
    text-decoration: none;
    color: black;
}  
a:visited {
    text-decoration: none;
    color: black;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3){
     
            
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
}
